@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
html,
body{
  width: 100%;
}

.chngeDir:last-child .boogi:last-child{
  background-color: transparent;
}

@media screen and (max-width:1020px){

  .chngeDir{
    flex-direction: row-reverse !important;
  }
  .boxclr{
    background-color: #052240 !important;
  }
}
